[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name=Oz Unity Welcome
Exec=ozunity-welcome
Icon=/usr/share/icons/OzUnity_Logo.png
Comment=The Oz Unity Welcome utility.
Comment[pl]=Oz Jedność Witamy narzędzie.
Name[de_DE.UTF-8]=Oz Unity Welcome
Name[pl]=Oz Jedność Witamy
